/*
site color
*/

/*
|----------------------------------------------------------------------
|       Body Main Css
|----------------------------------------------------------------------
*/

html {
  scroll-behavior: smooth;
}

:root {
  --chevron: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="300px" height="300px" fill="%23080a0f" viewBox="-155 247 300 300" style="enable-background:new -155 247 300 300;"><polygon points="78.6356201,306.8178101 -5.0166931,390.4367371 -88.6356277,306.8178101 -137, 355.1821899 -5.0166931,487.1821899 127,355.1821899 "/></svg>');
  --tick: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="300px" height="300px" fill="%23fff" viewBox="0 0 300 300" style="enable-background:new 0 0 300 300;" xml:space="preserve"><polygon points="115.7434006,270.8831787 0,173.503006 21.3676376,148.106369 111.6297684,224.0477905 274.5331421,29.1168175 300,50.3998222"/></svg>');
}

/* ============ fonts ============== */

@font-face {
  font-family: "Poppins Bold";
  src: url("./assets/webfonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins Regular";
  src: url("./assets/webfonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins Italic";
  src: url("./assets/webfonts/Poppins-Italic.ttf");
}

@font-face {
  font-family: "Poppins Medium";
  src: url("./assets/webfonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins SemiBold";
  src: url("./assets/webfonts/Poppins-SemiBold.ttf");
}

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  background-color: #fff;
  color: #111;
  font-size: 14px;
  font-family: "Poppins Regular";
  margin: 0;
  padding: 0;
  line-height: 1.6;
  word-break: break-word;
  transition: all ease 0.5s;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-flow: column;
}

body.flow {
  overflow: hidden !important;
}

::selection {
  background: #4a4f55;
  color: #fff;
}

::-moz-selection {
  background: #4a4f55;
  color: #fff;
}

body a {
  color: #080a0f;
  word-break: break-word;
}

body a,
body span {
  display: inline-block;
  text-decoration: none;
}

body a:hover {
  color: #ff651c;
}

body a:focus,
body a:hover {
  outline: none !important;
  text-decoration: none !important;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  display: inline-block;
}

ul li a {
  transition: all ease 0.5s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins SemiBold";
  line-height: 1.1;
  margin: 0;
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

p:nth-last-child(1) {
  margin: 0;
}

.relative {
  position: relative;
}

.tableDv {
  display: table;
  width: 100%;
  height: 100%;
}

.tableCell {
  display: table-cell;
  vertical-align: middle;
}

.toggle {
  position: absolute;
  top: 11px;
  right: 5px;
  display: flex;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  transition: all ease 0.5s;
  z-index: 4;
}

.toggle span,
.toggle span:before,
.toggle span:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background: #080a0f;
  border-radius: 50px;
  transition: all ease 0.5s;
}

.toggle span {
  position: relative;
  display: block;
  width: 22px;
  margin: 8px auto;
}

.toggle span:before {
  top: -7px;
}

.toggle span:after {
  bottom: -7px;
}

.toggle.active span {
  width: 22px;
  background: transparent !important;
}

.toggle.active span:before,
.toggle.active span:after {
  top: 0;
}

.toggle.active span:before {
  transform: rotate(405deg);
  -webkit-transform: rotate(405deg);
  -moz-transform: rotate(405deg);
  -ms-transform: rotate(405deg);
  -o-transform: rotate(405deg);
}

.toggle.active span:after {
  transform: rotate(-45deg);
}

.blockquote {
  background: #fafafa;
  color: #151d23;
  padding: 10px 10px 10px 20px;
  border: 1px solid #f0f5f9;
  border-left: 4px solid #4a4f55;
}

/*
|----------------------------------------------------------------------
|       Body Main Button
|----------------------------------------------------------------------
*/

.webBtn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 120px;
  height: 46px;
  background: #f58634;
  background-position: 100% 0;
  background-size: 100% 100%;
  color: #fff;
  font-size: 14px;
  font-family: "Poppins Medium";
  text-align: center;
  padding: 0 30px;
  white-space: nowrap;
  /* text-transform: uppercase; */
  border: 0;
  border-radius: 5px;
  outline: none !important;
  /* box-shadow: rgb(15 78 126 / 5%) 0 16px 48px 0; */
  /* box-shadow: rgb(81 24 24 / 20%) 0 5px 10px 0; */
  box-shadow: 0 5px 20px rgb(18 15 56 / 7%);
}

.webBtn:hover {
  background: #f5821f;
  color: #fff;
}

.smBtn {
  min-width: 40px;
  height: 36px;
  padding: 0 20px;
}

.mdBtn {
  min-width: 80px;
  height: 40px;
}

.lgBtn {
  height: 54px;
  font-size: 16px;
  padding: 0 40px;
}

.blankBtn {
  background: transparent;
  color: #f5821f;
}

.blankBtn:hover {
  background: #f5821f;
  color: #fff;
}

.lightBtn {
  background: #f5821f;
  color: #fff;
}

.lightBtn:not(:hover) {
  box-shadow: none;
}

.lightBtn:hover {
  background: #f5821f;
  color: #fff;
}

.labelBtn {
  min-width: initial;
  height: auto;
  background: transparent;
  color: #f5821f;
  padding: 0;
  border: 0;
  box-shadow: none;
}

.labelBtn:hover {
  background: transparent;
  color: #fff;
}

.labelBtn > i {
  font-size: 100%;
}

.simpleBtn {
  background: #fff;
  color: #fff;
  /* border: 1px solid #b5bcc0; */
}

.simpleBtn:hover {
  background: #fff;
  color: #f5821f;
  /* border-color: #f5821f; */
}

.simpleBtn.icoBtn > img {
  filter: none;
}

.grayBtn {
  background: #fff;
  color: #8b9593;
  border: 1px solid #eee;
}

.grayBtn:hover {
  background: #fafafa;
  color: #8b9593;
}

.borderBtn {
  border: 2px solid #f5821f;
}

.arrowBtn {
  display: flex !important;
  width: 200px;
  min-width: 46px;
  padding: 0 60px 0 30px;
  transition: all ease 0.8s;
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  -ms-transition: all ease 0.8s;
  -o-transition: all ease 0.8s;
}

/* .arrowBtn:hover i {
  color: #f5821f;
} */

.arrowBtn > i {
  font-weight: bold;
  margin: 0 !important;
}

.arrowBtn > img {
  width: 18px;
}

.icoBtn > img {
  width: 18px;
  margin-right: 10px;
  filter: brightness(0.2) invert(0.2);
}

.roundBtn {
  border-radius: 50px;
}

.blockBtn {
  width: 100%;
}

.blockBtn em {
  flex: 1;
  text-align: left;
}

.webBtn i {
  margin-right: 10px;
}

.webBtn i.fi-arrow-right,
.webBtn i.fi-arrow-left {
  font-size: 120%;
  font-weight: bold;
}

.webBtn i.fi-arrow-right {
  margin-left: 10px;
  margin-right: 0;
}

.webBtn i.fi-arrow-left {
  margin-left: 0;
  margin-right: 10px;
}

/*_____ webBtn spinner _____*/

.webBtn .spinner {
  width: auto;
  height: auto;
  background: inherit;
  border-radius: inherit;
  overflow: hidden;
}

.webBtn .spinner ~ i {
  visibility: hidden;
}

.webBtn .spinner,
.webBtn .spinner:before,
.webBtn .spinner:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.webBtn .spinner:before,
.webBtn .spinner:after {
  content: "";
  width: 18px;
  height: 18px;
  border: 3px solid;
  animation: spinner 0.5s linear infinite;
  border-radius: 75%;
}

.webBtn .spinner:before {
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.webBtn .spinner:after {
  border-top-color: transparent;
  border-left-color: transparent;
  opacity: 0.5;
}

.webBtn.smBtn .spinner:before,
.webBtn.smBtn .spinner:after {
  width: 14px;
  height: 14px;
}

.webBtn.lgBtn .spinner:before,
.webBtn.lgBtn .spinner:after {
  width: 20px;
  height: 20px;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

*[disabled] {
  cursor: not-allowed !important;
}

a[disabled],
button[disabled] {
  opacity: 0.8;
}
/*
|----------------------------------------------------------------------
|       Body Inner Css
|----------------------------------------------------------------------
*/

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

img {
  width: 100%;
  display: block;
}

em {
  font-style: normal;
}

strong {
  font-family: "Poppins Bold";
  font-weight: normal;
}

input,
button,
select,
textarea {
  text-decoration: none !important;
  outline: none !important;
}

.ease,
body a,
body button,
body .webBtn {
  transition: all ease 0.5s;
}

.contain,
.contain-fluid {
  position: relative;
  max-width: 1140px;
  padding: 0 15px;
  margin: auto;
  min-height: 1px;
}

.contain-fluid {
  max-width: 1600px;
  padding: 0 15px;
}

.contain:before,
.contain:after,
.contain-fluid:before,
.contain-fluid:after {
  content: "";
  display: table;
}

.contain:after,
.contain-fluid:after {
  clear: both;
}

section {
  position: relative;
  padding: 70px 0;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.formRow {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}

.formRow > [class*="col-"],
.formRow > [class^="col-"] {
  padding: 10px;
}

.flexBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexDv {
  width: 100%;
}

.flexRow {
  margin: -15px;
}

.flexRow > .col {
  padding: 15px;
}

.bTn {
  display: flex;
  flex-flow: wrap;
  gap: 10px;
}

.bTn.formBtn {
  margin-top: 20px;
}

.text-left.bTn,
.text-left .bTn {
  justify-content: flex-start;
}

.text-center.bTn,
.text-center .bTn {
  justify-content: center;
}

.text-right.bTn,
.text-right .bTn {
  justify-content: flex-end;
}

/* ======== error or spinner ========== */

input.error {
  border-color: Red !important;
  border-style: solid;
  border-width: 1px;
}
textarea.error {
  border-color: Red !important;
  border-style: solid;
  border-width: 1px;
}
select.error {
  border-color: Red !important;
  border-style: solid;
  border-width: 1px;
}
label.error {
  color: red;
  font-size: 11px;
}
input[type="“radio”"].error:after,
input[type="“checkbox”"].error:after {
  border-color: red;
}

/* ================= popup ================== */

.popup .inside {
  max-width: 700px;
  margin: 0 auto;
}

.tableDv {
  display: table;
  width: 100%;
  height: 100%;
}

.tableCell {
  display: table-cell;
  vertical-align: middle;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(25, 33, 37, 0.95);
  padding: 20px 0;
  overflow: auto;
  z-index: 99999;
  /* display: flex; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.popup ._inner {
  position: relative;
  max-width: 600px;
  /*background: #f7f8f9;*/
  background: #fff;
  padding: 20px;
  margin: auto;
  border-radius: 10px;
  -webkit-box-shadow: 0 7px 14px 0 rgba(59, 65, 94, 0.1),
    0 3px 6px 0 rgba(0, 0, 0, 0.07);
  box-shadow: 0 7px 14px 0 rgba(59, 65, 94, 0.1),
    0 3px 6px 0 rgba(0, 0, 0, 0.07);
}

.popup.big-popup ._inner {
  max-width: 800px;
}

.popup.small-popup ._inner {
  max-width: 420px;
}

.popup ._inner h3 {
  padding-right: 25px;
  margin-bottom: 20px;
}

.popup ._inner h4 {
  padding-right: 25px;
  margin-bottom: 15px;
}

.popBtn {
  cursor: pointer;
}

.crosBtn {
  position: absolute;
  top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  right: 5px;
  width: 28px;
  height: 28px;
  color: #8b9593;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  z-index: 5;
}

.crosBtn:before {
  content: "\2715";
  line-height: 1;
}

.popup .list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.popup .list > li > div:nth-child(1) {
  width: 120px;
  min-width: 120px;
  font-family: "Poppins Bold";
  margin-right: 10px;
}

.popup .list > li > div:nth-child(2) {
  width: 100%;
  color: #8b9593;
}

.popup .blockLst {
  margin: -15px;
}

/*
|----------------------------------------------------------------------
|       Dropdown
|----------------------------------------------------------------------
*/

.dropBtn {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.dropBtn > i.chevron {
  display: inline-block;
  width: 10px;
  min-width: 10px;
  height: 10px;
  background-image: var(--chevron);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0;
  margin-left: 5px;
  transition: inherit;
}

.dropDown {
  position: relative;
  z-index: 1;
}

.dropCnt {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 160px;
  max-width: 260px;
  background: #fff;
  margin-top: 10px;
  visibility: hidden;
  opacity: 0;
  /* border: 1px solid #eee; */
  border-radius: 7px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  transition: all ease 0.5s;
  overflow: hidden;
}

.dropCnt.right {
  left: initial;
  right: 0;
}

.dropCnt.active {
  margin-top: 0;
  visibility: visible;
  opacity: 1;
}

.dropLst {
  /* border: 1px solid #eee; */
  padding: 6px 0;
  /* border-radius: 7px; */
}

.dropLst > li,
.dropLst > li > * {
  display: block;
}

/* .dropLst > li:nth-child(1) > * {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.dropLst > li:nth-last-child(1) > * {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.dropLst > li:not(:nth-last-child(1)) {
    border-bottom: 1px solid #eee;
} */

.dropLst > li > * {
  display: flex;
  align-items: center;
  width: 100%;
  background: #fff;
  text-align: left;
  padding: 6px 15px;
  border: 0;
}

.dropLst > li > *:hover {
  background: #fafafa;
}

.dropLst > li > * > i {
  margin-right: 6px;
}

/*
|----------------------------------------------------------------------
|       Editor
|----------------------------------------------------------------------
*/

.ckEditor {
  /* Font */
  /* Emoji fonts are added to visualise them nicely in Internet Explorer. */
  font-family: "Poppins Regular", sans-serif, Arial, Verdana, "Trebuchet MS",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;

  /* Text color */
  color: #333;
}

.ckEditor .cke_editable {
  font-size: 13px;
  line-height: 1.6;

  /* Fix for missing scrollbars with RTL texts. (#10488) */
  word-wrap: break-word;
}

.ckEditor blockquote {
  font-style: italic;
  font-family: "Poppins Regular", Times, "Times New Roman", serif;
  padding: 2px 0;
  border-style: solid;
  border-color: #ccc;
  border-width: 0;
}

.ckEditor .cke_contents_ltr blockquote {
  padding-left: 20px;
  padding-right: 8px;
  border-left-width: 5px;
}

.ckEditor .cke_contents_rtl blockquote {
  padding-left: 8px;
  padding-right: 20px;
  border-right-width: 5px;
}

.ckEditor a {
  display: inline;
  color: #4a4f55;
}

.ckEditor ol,
.ckEditor ul,
.ckEditor dl {
  /* IE7: reset rtl list margin. (#7334) */
  *margin-right: 0px;
  /* Preserved spaces for list items with text direction different than the list. (#6249,#8049)*/
  padding: 0 40px;
}

.ckEditor ul,
.ckEditor ol {
  padding: 0;
  padding-left: 20px;
  margin: 0 0 10px;
  list-style-position: inside;
}

.ckEditor ul > li,
.ckEditor ol > li {
  display: list-item;
  margin-bottom: 5px;
}

.ckEditor ul > li ul,
.ckEditor ol > li ol {
  margin: 5px 0 7px;
}

.ckEditor h1,
.ckEditor h2,
.ckEditor h3,
.ckEditor h4,
.ckEditor h5,
.ckEditor h6 {
  font-weight: normal;
  line-height: 1.2;
}

.ckEditor hr {
  border: 0px;
  border-top: 1px solid #ccc;
}

.ckEditor img.right {
  border: 1px solid #ccc;
  float: right;
  margin-left: 15px;
  padding: 5px;
}

.ckEditor img.left {
  border: 1px solid #ccc;
  float: left;
  margin-right: 15px;
  padding: 5px;
}

.ckEditor pre {
  white-space: pre-wrap; /* CSS 2.1 */
  word-wrap: break-word; /* IE7 */
  -moz-tab-size: 4;
  tab-size: 4;
}

.ckEditor .marker {
  background-color: #4a4f55;
}

.ckEditor span[lang] {
  font-style: italic;
}

.ckEditor figure {
  text-align: center;
  outline: solid 1px #ccc;
  background: rgba(0, 0, 0, 0.05);
  padding: 10px;
  margin: 10px 20px;
  display: inline-block;
}

.ckEditor figure > figcaption {
  text-align: center;
  display: block; /* For IE8 */
}

.ckEditor a > img {
  padding: 1px;
  margin: 1px;
  border: none;
  outline: 1px solid #0782c1;
}

/* Widget Styles */
.ckEditor .code-featured {
  border: 5px solid #4a4f55;
}

.ckEditor .math-featured {
  padding: 20px;
  box-shadow: 0 0 2px #4a4f55;
  background-color: rgba(255, 0, 0, 0.05);
  margin: 10px;
}

.ckEditor .image-clean {
  border: 0;
  background: none;
  padding: 0;
}

.ckEditor .image-clean > figcaption {
  font-size: 0.9em;
  text-align: right;
}

.ckEditor .image-grayscale {
  background-color: white;
  color: #666;
}

.ckEditor .image-grayscale img,
.ckEditor img.image-grayscale {
  filter: grayscale(100%);
}

.ckEditor .embed-240p {
  max-width: 426px;
  max-height: 240px;
  margin: 0 auto;
}

.ckEditor .embed-360p {
  max-width: 640px;
  max-height: 360px;
  margin: 0 auto;
}

.ckEditor .embed-480p {
  max-width: 854px;
  max-height: 480px;
  margin: 0 auto;
}

.ckEditor .embed-720p {
  max-width: 1280px;
  max-height: 720px;
  margin: 0 auto;
}

.ckEditor .embed-1080p {
  max-width: 1920px;
  max-height: 1080px;
  margin: 0 auto;
}

.ckEditor i,
.ckEditor em {
  font-style: italic;
}

.ckEditor b,
.ckEditor strong {
  font-weight: bold;
}

.ckEditor u {
  text-decoration: underline;
}

.ckEditor span {
  display: initial;
  text-decoration: inherit;
}
/*_____ owl-nav _____*/

.owl-carousel.owl-theme .owl-nav {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0;
}

.owl-carousel.owl-theme .owl-nav [class*="owl-"] {
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f58434 !important;
  color: #fff;
  font-size: 14px;
  margin: -20px 0 0;
  border-radius: 75%;
  box-shadow: 0 5px 20px rgb(18 15 56 / 7%);
}

.owl-carousel.owl-theme .owl-nav [class*="owl-"]:hover {
  color: #fff;
}

.owl-carousel.owl-theme .owl-nav .owl-prev {
  left: -50px;
}

.owl-carousel.owl-theme .owl-nav .owl-next {
  right: -50px;
}

.owl-carousel.owl-theme .owl-nav [class*="owl-"] > i {
  font-weight: bold;
}

/*_____ owl-dots _____*/

.owl-carousel.owl-theme .owl-dots {
  text-align: center;
  position: relative;
  margin-top: 20px;
  line-height: 0;
  z-index: 5;
}

.owl-carousel.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  padding: 0 2px !important;
}

.owl-carousel.owl-theme .owl-dots .owl-dot span {
  display: block;
  width: 10px;
  height: 4px;
  margin: auto;
  border: 2px solid #aaa;
  border-radius: 50px;
  transition: all ease 0.5s;
}

.owl-carousel.owl-theme .owl-dots .owl-dot.active span {
  width: 24px;
  height: 4px;
  margin: auto;
  border-color: #f5821f;
}

/*
|----------------------------------------------------------------------
|       Form
|----------------------------------------------------------------------
*/

label {
  display: block;
  font-weight: normal;
  cursor: pointer;
}

label > a {
  color: #3c9cdb;
}

label > a:hover {
  color: #4a4f55;
}

.txtGrp {
  position: relative;
}

.txtGrp:not(:nth-last-child(1)) {
  margin-bottom: 20px;
}

.infoHead {
  margin-top: 40px;
  margin-bottom: 20px;
}

form h5 + p {
  margin: -10px 0 20px;
}

.txtBox {
  display: block;
  width: 100%;
  height: 46px;
  background: #fff;
  text-align: left;
  padding: 6px 12px;
  border: 1px solid #eee;
  border-radius: 6px;
  outline: none !important;
  transition: all ease 0.5s;
  border-color: rgb(192 185 185);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.txtGrp label ~ .txtBox:not(button) {
  padding: 16px 12px 6px;
}

.txtBox:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
}

textarea.txtBox {
  height: 190px;
  resize: none;
}

.txtGrp .txtBox.uploadImg:not([data-upload]) {
  background: #fff;
  color: #4a4f55;
  text-align: center;
  border-color: #4a4f55;
  box-shadow: inset 1px 1px 4px #fcfcfc;
}

.txtGrp .txtBox.uploadImg[data-upload] {
  display: flex;
  align-items: center;
  color: #8b9593;
}

.txtGrp .txtBox.uploadImg[data-upload]:before {
  content: attr(data-text);
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.txtGrp .txtBox.uploadImg[data-upload]:after {
  content: "Hochladen";
  color: #4a4f55;
  margin-left: 5px;
}

.txtGrp .txtBox.uploadImg[data-upload].uploaded:after {
  content: "Entfernen";
}

.txtGrp:not(.lblBtn) > label {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  min-height: 46px;
  color: #8b9593;
  line-height: 1;
  margin: 0;
  margin-left: 13px;
  pointer-events: none;
  transition: all ease 0.5s;
  z-index: 1;
}

.txtGrp:not(.lblBtn) > label.move {
  font-size: 10px;
  transform: translateY(-12px);
}

.txtBox:disabled {
  background: #e3e8ee;
  cursor: not-allowed;
  border-color: #d8dee6 !important;
}

.txtBox::placeholder {
  color: #575759;
}

.txtBox:focus::placeholder {
  opacity: 0.4;
}

.txtGrp .txtBox:focus::placeholder {
  opacity: 0;
}

.txtBox:hover,
.txtBox:focus {
  border-color: #4a4f55;
}

input[type="radio"],
input[type="checkbox"] {
  position: relative;
  width: 18px;
  min-width: 18px;
  height: 18px;
  margin-top: 0;
  cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
  display: inline;
  appearance: initial;
}

input[type="radio"]:before,
input[type="checkbox"]:before,
input[type="radio"]:after,
input[type="checkbox"]:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

input[type="checkbox"]:before,
input[type="checkbox"]:after {
  transition: all linear 0.3s;
}

input[type="radio"]:before,
input[type="checkbox"]:before {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 8px;
  z-index: 1;
}

input[type="radio"]:after,
input[type="checkbox"]:after {
  background: #fff;
  border: 1px solid #d9dade;
  border-radius: 4px;
  box-shadow: inset 1px 1px 4px #f2f3f7;
}

input[type="radio"]:after {
  border-radius: 75%;
}

input[type="checkbox"]:checked:before {
  background-image: var(--tick);
}

input[type="radio"]:checked:after {
  border-color: #4a4f55;
  box-shadow: inset 0 0 0 4px #4a4f55;
}

input[type="checkbox"]:checked:after {
  background: #4a4f55;
  border-color: #4a4f55;
  box-shadow: none;
}

.lblBtn {
  display: flex;
  text-align: left;
}

.lblBtn > input[type="radio"],
.lblBtn > input[type="checkbox"] {
  margin-top: 2px;
}

.lblBtn label {
  align-self: center;
  font-family: "Poppins Bold";
  line-height: 1.5;
  cursor: pointer;
  margin: 0 0 0 10px;
}

input[type="file"].uploadFile {
  display: none;
}

.uploadImg {
  position: relative;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

select.txtBox {
  background-image: var(--chevron);
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 10px;
  padding-right: 24px !important;
  -webkit-appearance: none;
  appearance: none;
}

/*
|----------------------------------------------------------------------
|       Page Loader
|----------------------------------------------------------------------
*/

#pageloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #f5f6f8;
  z-index: 999999;
}

.loader {
  width: 40px;
  height: 40px;
  border: 4px solid #f5821f;
  border-right: 4px solid #f0f5f9;
  border-radius: 75%;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/* ================top nav============ */

.topNav {
  padding: 10px 0px;
  background: linear-gradient(110deg, #000000 45%, #ff651c 40%);
}
.topNav p {
  margin-bottom: 0px;
  font-size: 14px;
  color: #fff;
}
.topNav .colL {
  width: 20%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.topNav .colR {
  width: 80%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.topNav ul li a {
  color: rgb(255, 255, 255);
  font-family: "Poppins Regular";
  padding: 0px 10px;
  /* text-transform: uppercase; */
  font-size: 13px;
  letter-spacing: 1px;
}
.topNav ul li:first-child,
.topNav ul li:nth-child(2) {
  margin-right: 20px;
}
.topNav .colR li p {
  align-self: center;
}
.topNav .colR li p:first-child {
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
  color: #ff651c;
}
.topNav .colR li p span {
  display: block;
  font-size: 13px;
  color: #f7f7f7;
  font-family: "Poppins Regular";
}
.topNav .colR li p span:first-child {
  margin-bottom: 2px;
  font-family: "Poppins Bold";
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
}
.topNav .social li a {
  padding: 0;
  color: #e41e2f;
  font-size: 19px;
  margin-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.hideBig {
  display: none;
}

/*
|----------------------------------------------------------------------
|       Header
|----------------------------------------------------------------------
*/

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 85px;
  z-index: 50;
  background: #fff;
  /* padding: 10px 0; */
  /* background: #fff;
  box-shadow: 0px 0px 4px #ddd; */
}

header.fix {
  background: #fff;
  box-shadow: 0px 0px 4px #ddd;
}

.logo {
  float: left;
  width: 123px;
  height: 85px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
}

.logo > a {
  display: block;
}

nav {
  float: right;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

nav {
  display: flex;
  align-items: center;
}

nav > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 -20px;
}

nav > #nav {
  margin: 0 auto;
}

nav > ul > li {
  position: relative;
  padding: 0 15px;
}

nav > ul > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  color: #000;
  text-align: center;
  font-family: "Poppins Medium";
}

nav > ul > li > a:hover,
nav > ul > li.active > a:not(.webBtn) {
  color: #ff651c;
}

#nav > li.drop > a {
  position: relative;
}

#nav > li.drop > a:after {
  content: "\e93d";
  font-size: 12px;
  font-family: "font-icon";
  font-weight: bold;
  margin-left: 6px;
  line-height: 1;
}

#nav > li > .sub {
  position: absolute;
  top: 100%;
  left: 15px;
  width: 280px;
  background: #fff;
  text-align: left;
  margin-top: 10px;
  visibility: hidden;
  opacity: 0;
  border-radius: 4px;
  transition: none;
  box-shadow: 0 15px 30px -5px rgb(0 0 0 / 7%);
  overflow: hidden;
}

#nav > li:hover > .sub {
  visibility: visible;
  opacity: 1;
  margin-top: 0;
  transition: all 0.2s ease-out;
}

#nav > li > .sub > li,
#nav > li > .sub > li > a {
  display: block;
}

#nav > li > .sub > li > a {
  font-size: 14px;
  padding: 13px 18px;
  border-bottom: solid 1px #eee;
}

#nav > li > .sub > li > a:hover {
  color: #4a4f55;
}

nav #cta {
  margin-left: 20px;
}

header .webBtn {
  color: #fff;
}

/*
|----------------------------------------------------------------------
|       Footer
|----------------------------------------------------------------------
*/

footer {
  position: relative;
  background: #000000;
  color: #fff;
  font-family: "Poppins Regular";
  padding-top: 80px;
  overflow: hidden;
}

footer .flexRow {
  margin: -15px;
}

footer .flexRow > .col {
  width: 25%;
  padding: 15px;
}

footer .footerLogo {
  max-width: 130px;
}

footer h5 {
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

footer p {
  font-size: 14px;
}

footer .lst > li {
  display: block;
  margin-bottom: 10px;
}

footer .lst > li:nth-last-child(1) {
  margin-bottom: 0 !important;
}

footer a {
  color: inherit;
}

footer a:hover {
  color: #ff651c;
}

footer .smLst {
  margin: -5px -10px;
}

footer .infoLst > li {
  display: flex;
  margin-bottom: 20px;
}

footer .infoLst > li > img {
  width: 16px;
  min-width: 16px;
  height: 16px;
  margin-top: 2px;
  margin-right: 10px;
  filter: brightness(0) invert(1);
}

footer .smLst > li {
  padding: 5px 10px;
}

footer .social {
  margin: 30px -3px -3px;
}

footer .social > li {
  padding: 3px;
}

footer .social > li > a {
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 38px;
  min-width: 38px;
  height: 38px;
  background: #fff;
  background: rgb(255 255 255 / 10%);
  padding: 12px;
  border-radius: 75%;
}

footer .social > li > a:hover {
  background: #f5821f;
}

footer .social > li > a img {
  filter: brightness(0) invert(1);
}

/* =============== Copyright ================= */

.copyright {
  padding: 25px 0;
  margin-top: 60px;
  border-top: 1px solid rgb(255 255 255 / 7%);
  z-index: 1;
}

.copyright .inner {
  display: flex;
  justify-content: center;
}

.copyright p {
  flex: 1;
  margin: 0;
  text-align: center;
}

.copyright p > a {
  color: #fff;
}

.copyright p > a:hover {
  color: #ff651c;
}
/* ================ banner ============= */
.title {
  text-transform: uppercase;
  font-family: "Poppins Medium";
  color: #f5821f;
  font-size: 16px;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
#banner {
  position: relative;
  /* background-image: url(./assets/images/bannerbg1.jpg); */
  padding-top: 170px;
}
.back-bg {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* background: url(./assets/images/banner-shape-right-five.png); */
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 50%;
  opacity: 0.2;
}
#banner:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(./assets/images/banner-shape-right-five.png);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 50%;
  opacity: 0.2;
}
#banner h1 {
  /* text-shadow: 5px 5px 5px rgba(41, 41, 47, 0.091); */
  font-size: 45px;
  line-height: 1.1;
  color: #111;
  margin-bottom: 20px;
  letter-spacing: -0.9px;
  text-transform: capitalize;
}
#banner h1 em {
  color: #f58634;
}

#banner p {
  font-size: 15px;
}
#banner .experience_blk {
  background: #ffffff;
  border: 1px solid rgba(86, 48, 255, 0.1);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 8px 16px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  width: 230px;
  padding: 2rem;
  display: flex;
  column-gap: 1.5rem;
  position: absolute;
  top: -3rem;
  left: 0;
  right: 0;
  margin: auto;
}
#banner .experience_blk span {
  font-size: 5rem;
  color: #f58634;
  align-self: center;
  line-height: 0;
  width: 7rem;
  font-family: "Poppins SemiBold";
}
#banner .experience_blk em {
  align-self: center;
}
#banner .col {
  width: 50%;
  align-self: center;
  padding-right: 60px;
}

#banner .colr {
  width: 50%;
  position: relative;
}

#banner .colr .image {
  /* width: 450px; */
  margin-left: auto;
}

#banner .colr .image img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.webBtn i.fi-arrow-right {
  font-weight: bold;
  margin-left: 10px;
  margin-right: 0;
}

.webBtn i {
  position: absolute;
  right: 7px;
  width: 35px;
  color: #f58634;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  border-radius: 5px;
  height: 35px;
  font-size: 17px;
  line-height: 35px;
  background-color: #fff;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.banner-shape {
  position: absolute;
  bottom: -15px;
  z-index: 99;
}

.shape {
  position: absolute;
  left: 0;
  top: 80px;
  height: 100vh;
  opacity: 0.02;
  z-index: -1;
}
.impact .choose_shape {
  right: 0 !important;
  top: 0 !important;
  left: unset !important;
}


.choose_shape {
  position: absolute;
  top: 82px;
  z-index: -1;
  left: 0px;
  opacity: 0.04;
}
.title {
  text-transform: uppercase;
  font-family: "Poppins Medium";
  color: #f5821f;
  font-size: 16px;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
/* ============= intro ============ */
#intro {
  padding-top: 3rem !important;
}
.left_text {
  max-width: 650px;
  margin: 0 auto 50px;
}
#intro .left_text h5 {
  color: #f5821f;
  text-transform: uppercase;
  font-family: "Poppins Medium";
}
#intro .flex {
  margin: 0 -20px;
}

#intro .col {
  width: calc(100% / 5);
  padding: 0 10px;
}

#intro .col:nth-child(even) {
  margin-top: 50px;
}

#intro .col .inner {
  background-color: #fff;
  box-shadow: 0px 2px 60px 0px rgb(0 0 0 / 10%);
  padding: 40px 16px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  /* height: 100%; */
}

#intro .col .inner .cntnt {
  text-align: center;
}

#intro .col .inner .cntnt p {
  margin-top: 10px;
}

#intro .col .inner .icon {
  /* height: 100px; */
  width: 60px;
  margin: 0 auto 20px;
}
#intro .col:nth-child(2) .inner {
  background-color: #f5821f;
  color: #fff;
}
#intro .col:nth-last-child(2) .inner {
  background-color: #000000;
  color: #fff;
}
#intro .col:nth-child(2) .inner .icon,
#intro .col:nth-last-child(2) .inner .icon {
  filter: brightness(0) invert(1);
}
.line {
  width: 30%;
  margin: 0 auto;
  background-color: #f5821f;
  min-height: 2px;
}

/* ============== policy ============= */

#policy {
  padding-top: 0;
}

#policy .col {
  width: 50%;
}

#policy .colr {
  width: 50%;
  align-self: center;
}

#policy .colr ul li {
  position: relative;
}

#policy .colr ul li::before {
  position: absolute;
  content: "\f061";
  font-family: "FontAwesome";
  top: 2px;
  left: 5px;
  width: 20px;
  height: 20px;
  line-height: 21px;
  text-align: center;
  border-radius: 50%;
  background-color: #f58634;
  color: #fff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  display: inline-block;
  margin-right: 10px;
  font-size: 10px;
}

/* #policy .colr ul {
  padding-bottom: 30px;
} */

#policy .colr ul li {
  text-align: left;
  position: relative;
  width: 100%;
  padding: 0px 0 10px 35px;
}

/* ============= counter ============== */

/* #counter::before {
  content: "";
  left: 0;
  right: 0;
  position: absolute;
  top: -2px;
  height: 65px;
  background-image: url(./assets/images/shape3.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#counter::after {
  content: "";
  left: 0;
  right: 0;
  position: absolute;
  bottom: -2px;
  height: 65px;
  background-image: url(./assets/images/shape4.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.content_center {
  max-width: 650px;
  margin: 0 auto 50px;
  text-align: center;
}
#counter .content_center {
  max-width: 100%;
  margin: 0;
  text-align: left;
}
.content_center h2 {
  line-height: 1.3;
}
.shape6 {
  right: -20px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.shape6 img {
  filter: hue-rotate(94deg);
}
.shape7 {
  left: -30px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.shape7 img {
  filter: hue-rotate(45deg);
}

#counter {
  background-color: #f58634;
  color: #fff;
}
#counter .colL {
  width: 40%;
  padding-right: 2rem;
  align-self: center;
}
#counter .colR {
  width: 60%;
  padding-left: 2rem;
}
/* #counter .content_center {
  color: #fff;
  margin-bottom: 50px;
} */

#counter .flexRow {
  margin: -15px -25px;
}

#counter .flexRow > .col {
  width: calc(100% / 4);
  padding: 10px 5px;
}

#counter .flexRow > .col .inner {
  position: relative;
  padding: 30px 0;
  text-align: center;
}
#counter .flexRow > .col .inner::before {
  width: 100px;
  height: 3px;
  background-color: #fff;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin-left: auto;
  margin-right: auto;
}
#counter .flexRow > .col .inner::after {
  width: 100px;
  height: 3px;
  background-color: #fff;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
#counter h1 {
  font-size: 40px;
}
#counter h4 {
  margin-bottom: 0;
  font-family: "Poppins Regular";
  font-size: 15px;
}

/* ============== video ================ */

/* #video {
  padding: 120px;
} */

#video .col {
  width: 60%;
  padding-right: 50px;
  align-self: center;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.stroke-dotted {
  opacity: 0;
  stroke-dasharray: 4, 5;
  stroke-width: 1px;
  transform-origin: 50% 50%;
  animation: spin 4s infinite linear;
  transition: opacity 1s ease, stroke-width 1s ease;
}
.stroke-solid {
  stroke-dashoffset: 0;
  stroke-dasharray: 300;
  stroke-width: 4px;
  transition: stroke-dashoffset 1s ease, opacity 1s ease;
}

.video_links .icon {
  transform-origin: 50% 50%;
  transition: transform 200ms ease-out;
}
.video_links {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  position: relative;
  cursor: pointer;
}
.video_links p {
  margin-bottom: 0;
  align-self: center;
  color: #f5821f;
}
.video_links p em {
  display: block;
  color: #8f8f8f;
  font-size: 1.3rem;
}
.video_links:hover .stroke-dotted {
  stroke-width: 4px;
  opacity: 1;
}
.video_links:hover .stroke-solid {
  opacity: 0;
  stroke-dashoffset: 300;
}
.video_links:hover .icon {
  transform: scale(1.05);
}
#play {
  cursor: pointer;
}
.cntnt {
  margin-bottom: 30px;
  position: relative;
}

#video ul li {
  display: block;
  padding: 6px 0;
  font-family: "Poppins SemiBold";
  position: relative;
  padding-left: 35px;
}

#video ul li::before {
  position: absolute;
  content: "";
  /* background-image: url(./assets/images/thumb-up.png); */
  background-size: cover;
  left: 0;
  top: 8px;
  height: 20px;
  width: 20px;
}

#video .colr {
  width: 40%;
  position: relative;
}

#video .colr .image {
  height: 350px;
  position: relative;
  width: 500px;
  margin-top: 150px;
}

#video .colr .image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f5ac6c91;
  opacity: 0.4;
  z-index: 1;
}

#video .colr .image img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#video .colr .image .playIcon {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 2;
}

#video .colr .image .playIcon i {
  width: 65px;
  height: 65px;
  overflow: hidden;
  border-radius: 50px;
  background: #f5821f;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 28px;
  padding-left: 5px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

@keyframes ripple-wave {
  from {
    box-shadow: 0 0 rgb(255 255 255/10%), 0 0 0 15px rgb(255 255 255/10%),
      0 0 0 30px rgb(255 255 255/10%);
  }

  to {
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.1),
      0 0 0 30px rgba(255, 255, 255, 0.1), 0 0 0 45px rgba(255, 255, 255, 0.02);
  }
}

#video .colr .image .playIcon:after {
  position: absolute;
  content: "";
  /* top: 0;
  bottom: 0;
  left: 0;
  right: 20px; */
  height: 65px;
  width: 65px;
  border-radius: 50%;
  animation: ripple-wave 1s linear infinite;
  animation-play-state: running;
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

#video .colr .image2 {
  position: absolute;
  height: 400px;
  width: 505px;
  top: 0;
  right: 0;
}

#video .colr .image2 img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#video .colr .rectangle {
  position: absolute;
  top: -80px;
  right: 60px;
}

#video .colr .rectangle img {
  height: 650px;
}

/* ============ get_free_quote ============== */

#get_free_quote {
  /* background-image: url(./assets/images/quote1.png); */
  /* background-color: #f8f9fa !important; */
  padding: 0px 0 5rem;
}
#get_free_quote .inner_blk {
  background-color: #f5821f;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 5rem;
  position: relative;
}
#get_free_quote .inner_blk:before {
  position: absolute;
  content: "";
  left: 2rem;
  right: 2rem;
  height: 4rem;
  bottom: -2rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: #f5821f4f;
  z-index: -1;
}
#get_free_quote .inner_blk:after {
  position: absolute;
  content: "";
  left: 4rem;
  right: 4rem;
  height: 6rem;
  bottom: -4rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: #f5821f4f;
  z-index: -1;
}
#get_free_quote .inner_blk .content_center .title,
#get_free_quote .inner_blk .content_center h2 {
  color: #fff;
}
#get_free_quote .inner_blk .webBtn {
  background-color: #000;
}
#get_free_quote .image {
  position: absolute;
  left: 10%;
  top: 0;
  width: 80%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  z-index: -1;
}

@keyframes float-bob-y {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
  }
  50% {
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
  }
  100% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
  }
}

.animate-float-bob-y {
  -webkit-animation-name: float-bob-y;
  animation-name: float-bob-y;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

#get_free_quote form {
  display: flex;
  background: #fff;
  color: #121212;
  margin: 0 auto;
  border-radius: 50px;
  box-shadow: 0 5px 20px rgb(0 0 0 / 15%);
  /* overflow: hidden; */
  -webkit-border-radius: 60px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  -webkit-border-radius: 50px;
  max-width: 650px;
}

#get_free_quote form > .txtGrp {
  flex: 1;
  width: 100%;
  margin: 0;
  padding-left: 30px;
  display: flex;
}

#get_free_quote form > .txtGrp > img {
  position: absolute;
  top: 0;
  left: 14px;
  bottom: 0;
  width: 27px;
  height: 27px;
  background: transparent;
  padding: 0;
  margin: auto;
  border: 0;
}

#get_free_quote form > .txtGrp > .txtBox {
  background: transparent;
  /* padding-top: 20px; */
  height: 46px;
  padding-left: 30px;
}
#get_free_quote form > .txtGrp > label,
#get_free_quote form > .txtGrp > .txtBox,
#get_free_quote form > .bTn > .webBtn {
  height: 100%;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}

#get_free_quote .bTn {
  padding: 0;
}

#get_free_quote form > .bTn > .webBtn {
  width: 106px;
  min-width: 120px;
  /* padding: 12px; */
  border-radius: 0 50px 50px 0;
  -webkit-border-radius: 0 50px 50px 0;
  -moz-border-radius: 0 50px 50px 0;
  -ms-border-radius: 0 50px 50px 0;
  -o-border-radius: 0 50px 50px 0;
}

#get_free_quote form > .bTn > .webBtn > img {
  margin: auto;
  filter: brightness(0) invert(1);
  -webkit-filter: brightness(0) invert(1);
  width: 20px;
}

#get_free_quote form > .txtGrp > .txtBox {
  /* padding-top: 20px; */
  height: 50px;
}

/* =============== testimonials ================= */

#folio {
  overflow: hidden;
  /* background-image: linear-gradient(#fafafa, transparent); */
}
#folio:before {
  content: "";
  position: absolute;
  height: 55%;
  top: 0;
  width: 100%;
  /* background-image: url(./assets/images/dots.png); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}
#folio .owlBlock {
  /* margin: -40px; */
}

#folio .inner {
  padding: 20px 10px;
}

#folio .content {
  background: #f586342e;
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 40px;
  border-radius: 7px;
  /* box-shadow: 0 3px 15px 0 rgb(0 0 0 / 10%); */
  z-index: 1;
}

/* #folio p:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 65px;
  height: 65px;
  background-image: url(./assets/images/comma.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2;
} */

#folio .content p {
  margin-bottom: 25px;
  position: relative;
}

/* #folio .content .icoBlk {
  display: flex;
  align-items: center;
  justify-content: center;
} */

#folio .content .ico {
  width: 100px;
  min-width: 100px;
  height: 100px;
  margin: 0 auto 40px;
  box-shadow: 0 2px 5px 0 rgba(59, 65, 94, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.07);
}

#folio .content .icoBlk h5 {
  text-align: center;
  margin: 0;
  margin-left: 15px;
}

#folio .content .icoBlk h5 > span {
  display: block;
  margin-top: 10px;
  font-size: 1.3rem;
  font-family: "Poppins Regular";
  color: #f58434;
}

#folio .owl-dots {
  margin: -10px 0 20px;
}

#folio .content .ico {
  overflow: hidden;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

/* ============= small banner =============== */

#small-banner {
  /* background-image: url(./assets/images/sm-banner.png); */
  /* background-color: #fff9f5; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  /* height: 400px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#small-banner .content {
  text-align: center;
  max-width: 650px;
  padding-top: 70px;
}

#about-image {
  margin-top: 0px;
  padding-top: 0;
}

/* #about-image .image {
  position: relative;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  overflow: hidden;
  padding-bottom: 100%;
}

#about-image .image img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
} */

#about-image .text {
  padding-top: 40px;
}

#about-image .col {
  width: 50%;
}

#about-image .colr {
  width: 50%;
  padding-left: 30px;
}

/* ============ team ============= */

.team .col {
  width: 50%;
  padding: 10px;
}

/* .team .flex:nth-child(even) .colL {
  padding-right: 100px;
} */

.team .col h2 {
  font-family: "Poppins SemiBold";
  font-size: 24px;
}
.team .image {
  width: 100%;
  height: 550px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #333;
  position: relative;
}
.team .image img {
  width: 100%;
  height: 100%;
  object-position: top;
  object-fit: cover;
}
.team .colR .inner {
  position: relative;
}
/* .team .colR .inner:before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: -49px;
  width: 51px;
  height: 348px;
  background: #f5821f;
  border-radius: 5px;
  margin: auto;
}
.team .colR .inner:after {
  position: absolute;
  content: "Our Properties";
  bottom: -62px;
  left: -33px;
  height: 340px;
  background: transparent;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  text-transform: uppercase;
  font-size: 13px;
  color: #fff;
  letter-spacing: 0.7em;
  padding: 10px 0px;
  display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
} */

.team ul {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.team ul li a {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background: #f5821f;
  padding: 8px;
}

.team ul li a img {
  filter: brightness(0) invert(1);
}
.team ul li a:hover {
  opacity: 0.8;
}

.team .flex:nth-child(odd) {
  flex-direction: row-reverse;
}

.team .flex:not(:last-child) {
  margin-bottom: 50px;
}

#about-page {
  background-color: #f5f5f6;
}

/* ============== contact =============== */
/* contact */

#contact .col {
  width: 50%;
  /* align-self: center; */
}

#contact .colr {
  width: 50%;
  padding-left: 20px;
}

/* #contact form label,
#contact form .txtBox:not(textarea) {
  height: 50px;
}

#contact form .txtBox {
  padding-top: 20px;
} */

#contact form h6 {
  margin-bottom: 8px;
  font-family: "Poppins Regular";
}

#contact form h3 {
  margin-bottom: 20px;
  text-align: center;
}

#contact .infoLst {
  margin: -10px -10px 80px;
}

#contact .infoLst > li {
  width: 33.3334%;
  padding: 10px;
}

#contact .infoLst > li .inner {
  height: 100%;
  background: #fff;
  padding: 40px 30px 30px;
  border-radius: 10px;
  box-shadow: 0 3px 15px 0 rgb(0 0 0 / 5%);
}

#contact .infoLst > li .icon {
  width: 62px;
  min-width: 62px;
  height: 62px;
  margin: -75px auto 30px;
  background-color: #f5821f;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact .infoLst > li .icon i {
  font-size: 24px;
  color: #fff;
}

#contact .webBtn i {
  padding-left: 10px;
}

#contact .webBtn {
  margin-top: 15px;
}

#contact .social {
  display: flex;
  gap: 16px;
  font-size: 2.4em;
  flex-direction: row;
  margin-top: 0.5em;
}

#contact .social i {
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 38px;
  min-width: 38px;
  height: 38px;
  background: #f5821f;
  padding: 11px;
  border-radius: 75%;
  font-size: 16px;
  color: #fff;
  transition: 0.5s ease all;
  cursor: pointer;
}
/* 
.contact .content {
  padding-top: 45px;
} */

#contact form {
  background: #fff;
  padding: 25px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 3px 15px 0 rgb(0 0 0 / 5%);
}

.icon-bg {
  position: absolute;
  width: 600px;
  left: -300px;
  top: 90px;
}

/* =================== insurances ================ */

#insurances .flex {
  margin: 0 -10px;
  justify-content: center;
}

#insurances .col {
  width: calc(100% / 3);
  padding: 10px;
}

#insurances .col .inner {
  background-color: #fff;
  box-shadow: 0 0.6rem 2rem -0.3rem rgb(34 34 34 / 10%);
  padding: 10px;
  transition: all 0.3s;
  padding: 30px 10px;
  height: 100%;
}

#insurances .col .inner:hover {
  transform: translateY(-3px);
}

#insurances .col .inner .image {
  height: 200px;
  width: 190px;
  margin: 0 auto 30px;
}

#insurances .col .inner .image img {
  height: 100%;
  /* object-fit: cover; */
  object-position: center;
}

#insurances .col .inner .text {
  text-align: center;
}

.quote {
  padding-bottom: 100px !important;
}

/* ============= employe-benefits =============== */

#employe-benefits .flex {
  margin: 0 -10px;
}

#employe-benefits .col {
  width: calc(100% / 2);
  padding: 10px;
}

#employe-benefits .col .inner {
  background-color: #fff;
  box-shadow: 0 0.6rem 2rem -0.3rem rgb(34 34 34 / 10%);
  padding: 10px;
  transition: all 0.3s;
  padding: 30px 15px;
  height: 100%;
  display: flex;
}

#employe-benefits .col .inner .icon {
  background-color: #fef3ec;
  min-width: 70px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 13px;
}

#employe-benefits .col .inner .text {
  padding-left: 20px;
}

.policy .image {
  width: 434px;
}

/* ============= we work =============== */

.we_work .flexRow {
  margin: -15px -25px;
}

.we_work .flexRow > .col {
  width: calc(100% / 3);
  padding: 15px 10px;
}

.we_work .flexRow > .col .inner {
  background-color: #fff;
  box-shadow: 0px 2px 60px 0px rgb(0 0 0 / 10%);
  padding: 40px 16px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  height: 100%;
}

.we_work .icon {
  background-color: #ffead7;
  border-radius: 50%;
  font-size: 38px;
  height: 50px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  color: #f5821f;
  margin-bottom: 20px;
}

.we_work .icon img {
  height: 50px;
  width: 50px;
  margin-left: 10px;
}

/* ========== quote ============= */

#quote {
  padding-top: 0;
}

#quote form {
  max-width: 750px;
  margin: auto;
}

#quote .choose_shape {
  top: -220px;
}

section#insurances {
  padding-top: 0;
}

section#employe-benefits {
  padding-top: 0;
}

/* ============ risk ============== */

section#risk {
  padding-top: 0;
}

#risk .flex {
  margin: 0 -10px;
  justify-content: center;
}

#risk .col {
  width: calc(100% / 3);
  padding: 10px;
}


#risk .col .inner {
  background-color: #fff;
  box-shadow: 0 0.6rem 2rem -0.3rem rgb(34 34 34 / 10%);
  padding: 10px;
  transition: all 0.3s;
  padding: 10px 10px;
  height: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  height: 100%;
  margin-bottom: 20px;
}

/* #risk .col .inner:hover {
  transform: translateY(-3px);
} */

#risk .col .inner .image {
  height: 250px;
  margin: 0 auto 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
}

#risk .col .inner .image img {
  height: 100%;
  object-fit: cover;
  object-position: top;
}

#risk .col .inner .text {
  margin-bottom: 20px;
}
